<div class='wrapper'>
  <div class='green-block'>
    &nbsp;
    </div>
    <div class='green-block slide'>
    Hello
    </div>
    <div class='green-block'>
    &nbsp;
    </div>
    <div class='green-block fat'>
    &nbsp;
    </div>
    <div class='green-block'>
    &nbsp;
    </div>
    <div class='green-block'>
    &nbsp;
    </div>
    <div class='green-block'>
    &nbsp;
    </div>
    <div class="red-block">
      &nbsp;
    </div>
    <div class="red-block">
      &nbsp;
    </div>
    <div class="red-block">
      &nbsp;
    </div>
    <div class="red-block">
      &nbsp;
    </div>
</div>